.dialogues {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialoguesItems {
    padding: 20px;
}

.dialogue.active {
    color: gold;

}

.userDescription img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.messages {
    padding: 20px;
}

.message {

}