.nav {
    grid-area: n;
    background-color: aqua;
    padding: 20px;
}
.item a{
    color: green;
    text-decoration: none;
}

.item a.activeLink {
    color: white;
}

/*.friends {
    text-align: center;
}*/

.friendsItem {
    padding: 2px;
    display: inline-block;
}

.circle {
    width: 30px;
    height: 30px;
    background: yellow;
    border-radius: 50px;
}